@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
html {
  background: #fff;
  overflow-y: scroll;
}

body, pre, span, input {
  font: 1em 'Inconsolata';
  color: #181818;
  font-weight: 400;
  max-width: 28em;
  margin:0 0.5em;
  padding:0;
}

textarea, input, button, select { font-family: inherit; font-size: inherit; }

input[type="text"]{
  border: none;
  background: #fff;
}
input[type="text"]:focus{
  background: #fff;
  color: #000;
  outline:none;
}
